.card {
  width: 100%;
  background-color: #ffffff;
  border-radius: 12px;
  color: #4b5563;
}

.header5 {
  display: flex;
  background-color: #fff;
  padding: 16px;
  align-items: center;
  gap: 10px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  color: #504f4f;
  border-bottom: 0.2px solid #e5e7eb;
  font-size: 14px;
}

.comparisoncontainer {
  display: flex;
  flex-direction: column;
  background-image: url(/static/Decorate.svg);
  justify-content: space-between;
  padding: 15px;
  border-radius: 8px;
  margin: 15px;
  background-color: #001240;
  color: white;
  align-items: center;
}

.topcompare {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px 8px 0 0;
}

.playertab {
  display: flex;
  gap: 6px;
  align-items: self-start;
}

.playerimg {
  width: 99px;
  height: 84px;
  border-bottom: 1px solid #e5e7eb;
}

.playerdetails {
  display: flex;
  align-items: center;
}

.playerexit {
  cursor: pointer;
  width: 21px;
  height: 21px;
}

.playerdetails h3 {
  color: #fff;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  padding-top: 2px;
  width: 100%;
  display: inline-block;
  white-space: nowrap;
  padding: 2px;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.textright {
  display: flex;
  align-items: center;
}

.matchtype {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.matchicon {
  width: 78px;
  height: 78px;
}

.selectors select {
  width: 100%;
  background-color: white;
  color: #504f4f;
  padding: 6px 8px;
  border-radius: 20px;
}

.selectors {
  display: flex;
  gap: 20px;
}

.leftteam {
  display: flex;
  align-items: center;
  gap: 6px;
  min-width: 95px;
  font-size: 14px;
  justify-content: center;
}

.leftteam img {
  width: 18px;
  height: 18px;
}

.bottomselector {
  margin-top: 15px;
  width: 100%;
}

.stats1 {
  margin: 0 15px 15px 15px;
  border-radius: 8px;
}

.stats1 th {
  padding: 12px 8px;
  color: #626262;
  background-color: #f8faff;
  text-align: center;
  font-size: 14px;
}

.stats1 th:first-child {
  text-align: center;
  color: #000000;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
}

.stats1 th:last-child {
  text-align: center;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  color: #000000;
}

/* fkjdn */
.details {
  gap: 0px;
}
.details p {
  font-weight: 500;
}

.players span {
  font-weight: 500;
}
.versus {
  padding: 0px 4px;
  margin-right: 0px;
}
.team1 {
  font-weight: 600;
}
