.container {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
}

.leftSection {
  flex: 0 0 40%;
  background-color: #001240;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  position: relative;
  height: 100vh;
}

.rightSection {
  flex: 1;
  background-color: #f2f6fe;
  color: black;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.logoContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoContainer img {
  max-width: 100%;
  height: auto;
}

.sticky {
  position: sticky;
  top: 0;
  background-color: #f2f6fe;
  z-index: 10;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonContainer {
  display: flex;
  gap: 20px;
  padding: 10px 0;
  justify-content: center;
  width: 100%;
}

.filterContainer {
  display: flex;
  gap: 20px;
  padding: 10px 0;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.filterLabel {
  font-weight: bold;
  color: #001240;
}

.button {
  background-color: transparent;
  border: 1px solid #001240;
  color: #001240;
  padding: 10px 20px;
  border-radius: 9999px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.button.active, .button:hover {
  background-color: #001240;
  color: #fff;
}

.dropdown {
  padding: 10px 20px;
  border-radius: 9999px;
  border: 1px solid #001240;
  background-color: #f2f6fe;
  color: #001240;
  cursor: pointer;
  appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg fill="none" height="24" stroke="%23001240" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M6 9l6 6 6-6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 16px 16px;
  transition: background-color 0.3s, color 0.3s;
  max-width: 160px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-right: 40px;
}

.dropdown:focus {
  outline: none;
  border-color: #001240;
}

.matchesSection {
  flex: 1;
  width: 100%;
  overflow-y: auto;
}

.matchesList {
  width: 100%;
}

.match {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  border-radius: 5px;
  background: #fff;
  width: 90%;
  margin: 0 auto 10px;
}

.matchInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

.teamLogo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.vs {
  font-size: 24px;
  font-weight: bold;
  color: red;
  margin: 0 20px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.matchTitle {
  font-size: 22px;
  font-weight: bold;
  color: black;
}

.matchDetails {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  font-size: 16px;
  color: #555;
}

@media (max-width: 1024px) {
  .container {
    flex-direction: column;
    height: auto;
  }
  .leftSection {
    display: none;
  }
  .rightSection {
    width: 100%;
    height: auto;
    margin-left: 0;
    overflow-y: visible;
  }
}

@media (max-width: 775px) {
  .container {
    flex-direction: column;
    height: auto;
  }
  .leftSection {
    display: none;
  }
  .rightSection {
    width: 100%;
    height: auto;
    margin-left: 0;
    overflow-y: visible;
  }
}
