/* ................Search Tab..............  */
.searchtab {
  position: sticky;
  top: 125px;
  z-index: 1000;
  background-color: #ffffff;
  border-radius: 20px;
  height: 41px;
  box-shadow: 4px 4px 10px 1px rgba(90, 82, 128, 0.05),
    -4px -4px 10px 0px rgba(0, 0, 0, 0.05);
  margin: 15px 25px 0 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  text-decoration: none;
}
.searchleft {
  display: flex;
  gap: 10px;
}
.searchright {
  display: flex;
  align-items: center;
}
.searchleft img,
.searchright img {
  width: 20px;
  height: 20px;
}
.searchleft span {
  color: #858585;
  text-align: left;
  font-size: 14px;
  font-weight: 500;
}

@media (max-width: 768px) {
  .searchtab {
    margin: 15px 10px 0 10px;
  }
}
